@inject LeagueOfPlots.Models.Gallery.AlbumCollection ac
@using LeagueOfPlots.Models.Gallery
@{ ViewData["Title"] = "Albums";
                ViewData["Description"] = $"An online gallery where I share my photos with the world. Currently showing {ac.Albums.Count} albums ({string.Join(", ", ac.Albums.Select(a => a.Name))})";
                ViewData["Image"] = this.Context.Request.Scheme + "://" + this.Context.Request.Host + ac.Albums.FirstOrDefault()?.CoverPhoto?.GetThumbnailLink((int)ImageType.Full, out int h); 
}
   

<div class="row">
    <div class="col-md-12">
        <form id="admin" class="float-right" asp-controller="Album" asp-action="Create" method="post">
            <div class="form-group row">
                <div class="col-md-6">
                    <input type="text" class="form-control" name="name" id="name" aria-label="Album name" placeholder="Nom de l'album" required />
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success" type="submit" id="newalbum" data-progress="Creating..."><i class="fas fa-plus"></i>&nbsp;Nouvel album</button>
                </div>
            </div>
        </form>
        <h2>Albums</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @if (ac.Albums.Count == 0)
        {
            <p>Aucun album.</p>
        }
        <div class="albumlist pic">
            @{ foreach (Album album in ac.Albums)
                {
                    var photo = album.CoverPhoto;
                    if (photo != null)
                    {
                        <a href="/Album?name=@album.UrlName" data-text="@album.Name (@album.Photos.Count)">
                            <img photo="@photo" type="Thumbnail" />
                        </a> 
                    }
                    else
                    {
                        <a href="Album?name=@album.UrlName" data-text="@album.Name">
                            <img src="/img/defaultThumbnail.png" />
                        </a> 
                    }
                 } 
             }
        </div>
    </div>
   
</div>
@section scripts {
    <script src="/js/gallery.js" async></script>
}
