@using LeagueOfPlots.ViewModels 
@model ViewModelGallery
@{ 
    ViewData["Title"] = "Albums";
}
   

<div class="row">
    <div class="col-md-12">
        <form id="admin" class="float-right" asp-controller="Gallery" asp-action="Create" method="post">
            <div class="form-group row">
                <div class="col-md-6">
                    <input type="text" class="form-control" name="name" id="name" aria-label="Album name" placeholder="Nom de l'album" required />
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success" type="submit" id="newalbum" data-progress="Creating..."><i class="fas fa-plus"></i>&nbsp;Nouvel album</button>
                </div>
            </div>
        </form>
        <h2>Albums</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @if (this.Model.Albums.Count == 0)
        {
            <p>Aucun album.</p>
        }
        <div class="photolist pic">
            @{ foreach (ViewModelAlbumItem album in this.Model.Albums)
                {
                    
                    <a href="/Album?Id=@album.Id" data-text="@album.Name (@album.PhotoCount)">
                        <img src="@album.Thumbnail" alt="@album.Name" height="128" width="128"  type="Thumbnail" />
                    </a> 
                 } 
             }
        </div>
    </div>
   
</div>
@section scripts {
    <script src="/js/gallery.js" async></script>
}
