@{
    ViewData["Title"] = "Home Page";
}
@model List<LeagueOfPlots.Models.QuestionModel>

<div class="text-center">
    <h1 class="display-4">Bienvenue sur League Of Plots</h1>
    <div class="row">
        <div class="display-3">Prochainement... Un site spécial PLOT</div> 
    </div>
</div>
