@{
    ViewData["Title"] = "Accueil";
}
@model List<LeagueOfPlots.Models.QuestionModel>

<div class="text-center">
    <h1 class="display-4">Bienvenue sur League of Plots</h1>
    <h1 class="display-3">Prochainement... Un site spécial PLOT</h1> 
</div>
