@{
    ViewData["Title"] = "Accueil";
}
@model List<LeagueOfPlots.Models.QuestionModel>
<style>
   /* body {
        background-color: var(--white);
        background: url("/img/background.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }*/

    .navbar.bg-warning{
        background-color:transparent !important;
        box-shadow:none;
    }
    
</style>
<div class="container">
    <div class="row">
        <div class="ml-auto mr-auto" style="align-items:center; display:flex; height:80vh;">
            <div style="text-align:center; color:white;">
                <h1>Bienvenue</h1>
                <h3>Le site officiel des Plots.</h3>
            </div>
        </div>
    </div>
</div>



