Build started...
Build succeeded.
CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL,
    CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId")
);

CREATE TABLE "AspNetRoles" (
    "Id" text NOT NULL,
    "Name" character varying(256) NULL,
    "NormalizedName" character varying(256) NULL,
    "ConcurrencyStamp" text NULL,
    CONSTRAINT "PK_AspNetRoles" PRIMARY KEY ("Id")
);

CREATE TABLE "AspNetUsers" (
    "Id" text NOT NULL,
    "UserName" character varying(256) NULL,
    "NormalizedUserName" character varying(256) NULL,
    "Email" character varying(256) NULL,
    "NormalizedEmail" character varying(256) NULL,
    "EmailConfirmed" boolean NOT NULL,
    "PasswordHash" text NULL,
    "SecurityStamp" text NULL,
    "ConcurrencyStamp" text NULL,
    "PhoneNumber" text NULL,
    "PhoneNumberConfirmed" boolean NOT NULL,
    "TwoFactorEnabled" boolean NOT NULL,
    "LockoutEnd" timestamp with time zone NULL,
    "LockoutEnabled" boolean NOT NULL,
    "AccessFailedCount" integer NOT NULL,
    CONSTRAINT "PK_AspNetUsers" PRIMARY KEY ("Id")
);

CREATE TABLE "AspNetRoleClaims" (
    "Id" integer NOT NULL GENERATED BY DEFAULT AS IDENTITY,
    "RoleId" text NOT NULL,
    "ClaimType" text NULL,
    "ClaimValue" text NULL,
    CONSTRAINT "PK_AspNetRoleClaims" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_AspNetRoleClaims_AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES "AspNetRoles" ("Id") ON DELETE CASCADE
);

CREATE TABLE "AspNetUserClaims" (
    "Id" integer NOT NULL GENERATED BY DEFAULT AS IDENTITY,
    "UserId" text NOT NULL,
    "ClaimType" text NULL,
    "ClaimValue" text NULL,
    CONSTRAINT "PK_AspNetUserClaims" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_AspNetUserClaims_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES "AspNetUsers" ("Id") ON DELETE CASCADE
);

CREATE TABLE "AspNetUserLogins" (
    "LoginProvider" character varying(128) NOT NULL,
    "ProviderKey" character varying(128) NOT NULL,
    "ProviderDisplayName" text NULL,
    "UserId" text NOT NULL,
    CONSTRAINT "PK_AspNetUserLogins" PRIMARY KEY ("LoginProvider", "ProviderKey"),
    CONSTRAINT "FK_AspNetUserLogins_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES "AspNetUsers" ("Id") ON DELETE CASCADE
);

CREATE TABLE "AspNetUserRoles" (
    "UserId" text NOT NULL,
    "RoleId" text NOT NULL,
    CONSTRAINT "PK_AspNetUserRoles" PRIMARY KEY ("UserId", "RoleId"),
    CONSTRAINT "FK_AspNetUserRoles_AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES "AspNetRoles" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_AspNetUserRoles_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES "AspNetUsers" ("Id") ON DELETE CASCADE
);

CREATE TABLE "AspNetUserTokens" (
    "UserId" text NOT NULL,
    "LoginProvider" character varying(128) NOT NULL,
    "Name" character varying(128) NOT NULL,
    "Value" text NULL,
    CONSTRAINT "PK_AspNetUserTokens" PRIMARY KEY ("UserId", "LoginProvider", "Name"),
    CONSTRAINT "FK_AspNetUserTokens_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES "AspNetUsers" ("Id") ON DELETE CASCADE
);

CREATE TABLE "Photo" (
    "PHT_ID" integer NOT NULL GENERATED BY DEFAULT AS IDENTITY,
    "ALB_ID" integer NOT NULL,
    "PHT_CONTENT" bytea NULL,
    "PHT_NAME" text NOT NULL,
    "PHT_EXTENSION" text NOT NULL,
    CONSTRAINT "PK_Photo" PRIMARY KEY ("PHT_ID")
);

CREATE TABLE "Album" (
    "ALB_ID" integer NOT NULL GENERATED BY DEFAULT AS IDENTITY,
    "ALB_NAME" text NOT NULL,
    "ALB_AUTHOR_USERNAME" text NOT NULL,
    "PHT_ID" integer NULL,
    "ALB_PHOTO_COUNT" integer NOT NULL,
    CONSTRAINT "PK_Album" PRIMARY KEY ("ALB_ID"),
    CONSTRAINT "FK_Album_Photo_PHT_ID" FOREIGN KEY ("PHT_ID") REFERENCES "Photo" ("PHT_ID") ON DELETE RESTRICT
);

CREATE UNIQUE INDEX "IX_Album_PHT_ID" ON "Album" ("PHT_ID");

CREATE INDEX "IX_AspNetRoleClaims_RoleId" ON "AspNetRoleClaims" ("RoleId");

CREATE UNIQUE INDEX "RoleNameIndex" ON "AspNetRoles" ("NormalizedName");

CREATE INDEX "IX_AspNetUserClaims_UserId" ON "AspNetUserClaims" ("UserId");

CREATE INDEX "IX_AspNetUserLogins_UserId" ON "AspNetUserLogins" ("UserId");

CREATE INDEX "IX_AspNetUserRoles_RoleId" ON "AspNetUserRoles" ("RoleId");

CREATE INDEX "EmailIndex" ON "AspNetUsers" ("NormalizedEmail");

CREATE UNIQUE INDEX "UserNameIndex" ON "AspNetUsers" ("NormalizedUserName");

CREATE INDEX "IX_Photo_ALB_ID" ON "Photo" ("ALB_ID");

ALTER TABLE "Photo" ADD CONSTRAINT "FK_Photo_Album_ALB_ID" FOREIGN KEY ("ALB_ID") REFERENCES "Album" ("ALB_ID") ON DELETE CASCADE;

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20210714133110_InitialCreate', '3.1.9');

ALTER TABLE "Album" DROP CONSTRAINT "FK_Album_Photo_PHT_ID";

ALTER TABLE "AspNetUserClaims" DROP CONSTRAINT "FK_AspNetUserClaims_AspNetUsers_UserId";

ALTER TABLE "AspNetUserLogins" DROP CONSTRAINT "FK_AspNetUserLogins_AspNetUsers_UserId";

ALTER TABLE "AspNetUserRoles" DROP CONSTRAINT "FK_AspNetUserRoles_AspNetUsers_UserId";

ALTER TABLE "AspNetUserTokens" DROP CONSTRAINT "FK_AspNetUserTokens_AspNetUsers_UserId";

DROP TABLE "AspNetUsers";

ALTER TABLE "AspNetUserTokens" ALTER COLUMN "Name" TYPE text;
ALTER TABLE "AspNetUserTokens" ALTER COLUMN "Name" SET NOT NULL;
ALTER TABLE "AspNetUserTokens" ALTER COLUMN "Name" DROP DEFAULT;

ALTER TABLE "AspNetUserTokens" ALTER COLUMN "LoginProvider" TYPE text;
ALTER TABLE "AspNetUserTokens" ALTER COLUMN "LoginProvider" SET NOT NULL;
ALTER TABLE "AspNetUserTokens" ALTER COLUMN "LoginProvider" DROP DEFAULT;

ALTER TABLE "AspNetUserTokens" ALTER COLUMN "UserId" TYPE integer;
ALTER TABLE "AspNetUserTokens" ALTER COLUMN "UserId" SET NOT NULL;
ALTER TABLE "AspNetUserTokens" ALTER COLUMN "UserId" DROP DEFAULT;

ALTER TABLE "AspNetUserRoles" ALTER COLUMN "RoleId" TYPE integer;
ALTER TABLE "AspNetUserRoles" ALTER COLUMN "RoleId" SET NOT NULL;
ALTER TABLE "AspNetUserRoles" ALTER COLUMN "RoleId" DROP DEFAULT;

ALTER TABLE "AspNetUserRoles" ALTER COLUMN "UserId" TYPE integer;
ALTER TABLE "AspNetUserRoles" ALTER COLUMN "UserId" SET NOT NULL;
ALTER TABLE "AspNetUserRoles" ALTER COLUMN "UserId" DROP DEFAULT;

ALTER TABLE "AspNetUserLogins" ALTER COLUMN "UserId" TYPE integer;
ALTER TABLE "AspNetUserLogins" ALTER COLUMN "UserId" SET NOT NULL;
ALTER TABLE "AspNetUserLogins" ALTER COLUMN "UserId" DROP DEFAULT;

ALTER TABLE "AspNetUserLogins" ALTER COLUMN "ProviderKey" TYPE text;
ALTER TABLE "AspNetUserLogins" ALTER COLUMN "ProviderKey" SET NOT NULL;
ALTER TABLE "AspNetUserLogins" ALTER COLUMN "ProviderKey" DROP DEFAULT;

ALTER TABLE "AspNetUserLogins" ALTER COLUMN "LoginProvider" TYPE text;
ALTER TABLE "AspNetUserLogins" ALTER COLUMN "LoginProvider" SET NOT NULL;
ALTER TABLE "AspNetUserLogins" ALTER COLUMN "LoginProvider" DROP DEFAULT;

ALTER TABLE "AspNetUserClaims" ALTER COLUMN "UserId" TYPE integer;
ALTER TABLE "AspNetUserClaims" ALTER COLUMN "UserId" SET NOT NULL;
ALTER TABLE "AspNetUserClaims" ALTER COLUMN "UserId" DROP DEFAULT;

ALTER TABLE "AspNetRoles" ALTER COLUMN "Id" TYPE integer;
ALTER TABLE "AspNetRoles" ALTER COLUMN "Id" SET NOT NULL;
ALTER TABLE "AspNetRoles" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY;

ALTER TABLE "AspNetRoleClaims" ALTER COLUMN "RoleId" TYPE integer;
ALTER TABLE "AspNetRoleClaims" ALTER COLUMN "RoleId" SET NOT NULL;
ALTER TABLE "AspNetRoleClaims" ALTER COLUMN "RoleId" DROP DEFAULT;

CREATE TABLE "User" (
    "ID" integer NOT NULL GENERATED BY DEFAULT AS IDENTITY,
    "USERNAME" character varying(256) NULL,
    "NORMALIZED_USERNAME" character varying(256) NULL,
    "EMAIL" character varying(256) NULL,
    "PASSWORD_HASH" text NULL,
    "SECURITY_STAMP" text NULL,
    "CONCURRENCY_STAMP" text NULL,
    "FIRSTNAME" text NOT NULL,
    "LASTNAME" text NOT NULL,
    "REGISTER" boolean NOT NULL,
    "AVATAR" bytea NULL,
    "REGISTRATION_KEY" text NOT NULL,
    CONSTRAINT "PK_User" PRIMARY KEY ("ID")
);

CREATE UNIQUE INDEX "UserNameIndex" ON "User" ("NORMALIZED_USERNAME");

ALTER TABLE "Album" ADD CONSTRAINT "FK_Album_Photo_PHT_ID" FOREIGN KEY ("PHT_ID") REFERENCES "Photo" ("PHT_ID") ON DELETE CASCADE;

ALTER TABLE "AspNetUserClaims" ADD CONSTRAINT "FK_AspNetUserClaims_User_UserId" FOREIGN KEY ("UserId") REFERENCES "User" ("ID") ON DELETE CASCADE;

ALTER TABLE "AspNetUserLogins" ADD CONSTRAINT "FK_AspNetUserLogins_User_UserId" FOREIGN KEY ("UserId") REFERENCES "User" ("ID") ON DELETE CASCADE;

ALTER TABLE "AspNetUserRoles" ADD CONSTRAINT "FK_AspNetUserRoles_User_UserId" FOREIGN KEY ("UserId") REFERENCES "User" ("ID") ON DELETE CASCADE;

ALTER TABLE "AspNetUserTokens" ADD CONSTRAINT "FK_AspNetUserTokens_User_UserId" FOREIGN KEY ("UserId") REFERENCES "User" ("ID") ON DELETE CASCADE;

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20210716173836_UserTable', '3.1.9');


