@model LeagueOfPlots.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Inscription";
}

<!-- Sign Up -->
<div class="container__form container--signup">
    <form class="form" id="form1" asp-action="register" asp-controller="account" method="post">
        <h2 class="form__title">@ViewData["Title"]</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="KeyRegistration" type="text" placeholder="Clé d'inscription" class="input" />
        <button type="submit" class="btn">S'inscrire</button>
    </form>
</div>

@section Scripts {
    

    <partial name="_ValidationScriptsPartial" />
}
